---
title: 'Civil Take Off'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1350">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Subscribe to Our Newsletter</span>
            <h1 class="cs-title">Civiltakeoff.ai</h1>
            <p class="cs-text">
                Join Our insider program to receive updates on exciting new Civiltakeoff.ai features and beta release dates
            </p>
        </div>
    </div>
    <!--Bubble Groups-->
    <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
    <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>


                     
<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1441">
    <div class="cs-container">
        <!--Form-->
        <form class="cs-form" id="cs-form-1441" name="Contact Form" method="post" netlify>
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-1441" name="name" placeholder="Name">
            </label>
            <label class="cs-label cs-email">
                Email
                <input class="cs-input" required type="email" id="email-1441" name="email" placeholder="Email">
            </label>
            <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
        </form>
    </div>
</section>
</section>                               
                                
{% endblock %}